.App {
    display: flex;
}

.routes {
    border: red 1px solid;
    display: flex;
    flex-direction: column;
}

.landing {
    padding-left: 2em;
}

.summary {
    padding-left: 2em;
}

.education {
    padding-left: 2em;
}

.employment {
    padding-left: 2em;
}

.projects {
    padding-left: 2em;
}

.skills {
    padding-left: 2em;
}

.awards {
    padding-left: 2em;
}

.activities {
    padding-left: 2em;
}

.volunteering {
    padding-left: 2em;
}

.contactInfo {
    padding-left: 2em;
}